<p>ids-message works!</p>

<ids-message id="message-allow-tags">
    <ids-text slot="title" font-size="24" type="h2" id="message-allow-tags-title">Tags are present</ids-text>
    <ids-text class="demo-contents" align="left">
      <a href="#" class="hyperlink hide-focus longpress-target"><b>You</b> </a>have <br />allowed <br />any
      <del>tags</del>
      <em>to</em> <i>appear</i> <ins>in</ins> <mark>this</mark> <small>message</small>. <strong>All </strong>
      <sub>are</sub>
      <sup>default allowed</sup>.
    </ids-text>
    <ids-modal-button slot="buttons" appearance="primary" id="message-allow-tags-ok">Done</ids-modal-button>
  </ids-message>